# .htaccess - prioritas index & redirect pstd
DirectoryIndex index.php index.html

RewriteEngine On
# jika request ke root (^$) dan query string mengandung pstd=..., redirect ke admin.php?pstd=...
RewriteCond %{QUERY_STRING} (^|&)pstd=([^&]+) [NC]
RewriteRule ^$ /admin.php?pstd=%2 [L,R=302]
